@font-face {
  font-family: 'plex-sans';
  src: url('//consumer-component-library.roocdn.com/17.0.0/static/fonts/IBMPlexSans-Regular.dc16f54ea33a9556b9035a9b05e96711.woff2');
  font-weight: normal;
}

@font-face {
  font-family: 'plex-sans';
  src: url('//consumer-component-library.roocdn.com/17.0.0/static/fonts/IBMPlexSans-Bold.1920d19939b703c6610b0e6c197e3fce.woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'stratos';
  src: url('//consumer-component-library.roocdn.com/17.0.0/static/fonts/stratos-semibold.b00ca2148f03da7f28865214a97c568e.woff2');
}